body {
  font-family: "Baloo 2", cursive;
  background: #fd7e14;
  color: #fff; }

.navbar {
  border-bottom: #fd7e14 3px solid;
  opacity: 0.8; }

.carousel-item {
  min-height: 100vh;
  min-width: 100vw; }

.carousel-image-1 {
  background: url("../img/presentacion01.png");
  background-repeat: round;
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/presentacion02.png");
  background-repeat: round;
  background-size: cover; }

.carousel-image-3 {
  background: url("../img/presentacion03.jpg");
  background-repeat: round;
  background-size: cover; }

#ofert-section .fas,
#services-section .fas,
#about-section .fas,
#mission-section .fas,
#ideas-section .fas {
  background: #fd7e14;
  color: #fff;
  padding: 5px;
  border-radius: 5px; }

#team-section img {
  margin-top: -50px; }
#team-section .card:hover {
  background: #fd7e14;
  color: #fff; }
#team-section .fab {
  color: #fff; }
